In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# load data
test = pd.read_csv('../data/test.csv')

In [9]:
# show the first and last times in the test set pickup_datetime
print(test['pickup_datetime'].max())

2016-06-30 23:59:58

In [55]:
# load weather data
# https://www.kaggle.com/datasets/aadimator/nyc-weather-2016-to-2022
weather = pd.read_csv('../data/weather.csv')
weather = weather.dropna()
weather.head()

# convert time to datetime
weather['time'] = pd.to_datetime(weather['time'])
# drop all rows where the time is after 2016-07-01
weather = weather[weather['time'] <= '2016-07-01']
# show the last time in the weather data
print(weather['time'].max())

2016-07-01 00:00:00

In [56]:
weather.head()

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01 00:00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01 01:00:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01 02:00:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01 03:00:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01 04:00:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0

In [57]:
weather.describe()

,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
count,4369.000000,4369.000000,4369.000000,4369.000000,4369.000000,4369.000000,4369.000000,4369.000000,4369.000000
mean,10.017556,0.097688,0.079995,42.868391,20.758755,31.205310,39.833143,12.029938,204.923781
std,9.009705,0.416950,0.380972,37.794186,35.145198,38.305515,42.272699,6.352365,99.398228
min,-16.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,1.000000
25%,2.900000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,7.600000,132.000000
50%,9.900000,0.000000,0.000000,31.000000,0.000000,9.000000,19.000000,10.900000,222.000000
75%,16.900000,0.000000,0.000000,84.000000,24.000000,65.000000,90.000000,15.400000,288.000000
max,30.700000,7.900000,7.900000,100.000000,100.000000,100.000000,100.000000,41.300000,360.000000