In [1]:
import pandas as pd
import numpy as np

In [1]:
from py_files.data_manager import get_data

df1, df2, df3 = get_data()
display(df1.head(5))
display(df2.head(5))
display(df3.head(5))

,User_ID,Timestamp,Steps,Calories_Burned,Distance_Covered,Exercise_Type,Exercise_Duration,Exercise_Intensity,Ambient_Temperature,Battery_Level,Altitude,UV_Exposure
0,U_00001,2021-01-01 00:00:00,9146,457.30,7.3168,Running,1.219675,Low,27.271525,97.338777,1739.690662,4.069132
1,U_00002,2021-01-01 01:00:00,9362,468.10,7.4896,Yoga,1.378399,Moderate,24.430288,66.573240,4102.042824,1.723672
2,U_00003,2021-01-01 02:00:00,21,1.05,0.0168,Strength Training,0.803857,Moderate,29.340574,30.138828,1794.899935,0.135647
3,U_00004,2021-01-01 03:00:00,13252,662.60,10.6016,NaN,0.000000,NaN,25.289230,78.838640,4025.840921,4.408343
4,U_00005,2021-01-01 04:00:00,21,1.05,0.0168,Yoga,0.807389,High,21.853590,17.673261,3422.381447,2.820739

,User_ID,Age,Gender,Weight,Height,Medical_Conditions,Medication,Smoker,Alcohol_Consumption,Timestamp,...,ECG,Calories_Intake,Water_Intake,Stress_Level,Mood,Skin_Temperature,Body_Fat_Percentage,Muscle_Mass,Health_Score,Anomaly_Flag
0,U_00001,61,Other,88.677623,178.524231,Diabetes,No,No,Moderate,2021-01-01 00:00:00,...,Abnormal,2444.985808,3.105556,Moderate,Neutral,32.752993,17.432985,77.599448,25.992071,1
1,U_00002,24,Male,86.742084,200.346358,NaN,Yes,No,Moderate,2021-01-01 01:00:00,...,Normal,2199.777020,2.441118,High,Anxious,35.010044,23.957792,71.718936,64.308450,0
2,U_00003,81,Other,61.656054,195.971356,Hypertension,Yes,No,Moderate,2021-01-01 02:00:00,...,Abnormal,2182.755640,1.240341,Low,Sad,36.797523,22.995533,59.874936,78.003546,1
3,U_00004,70,Other,141.513794,164.178216,Hypertension,No,No,Heavy,2021-01-01 03:00:00,...,Normal,1451.218888,1.682383,Moderate,Happy,32.614592,13.410659,67.528098,16.454106,1
4,U_00005,30,Other,80.552872,146.920675,Diabetes,Yes,Yes,Heavy,2021-01-01 04:00:00,...,Normal,1583.562773,1.461862,High,Happy,33.602319,24.920020,54.741487,42.528202,0

   User_ID            Timestamp  Notifications_Received  Screen_Time
0  U_00001  2021-01-01 00:00:00                      34     1.854833
1  U_00002  2021-01-01 01:00:00                      16     0.245456
2  U_00003  2021-01-01 02:00:00                      41     2.539901
3  U_00004  2021-01-01 03:00:00                      48     3.078411
4  U_00005  2021-01-01 04:00:00                      70     2.624290

In [2]:
arr = np.random.random(100)
print(arr)

from py_files.helper_funcs import set_np_pd_display_params

set_np_pd_display_params(np, pd)

print(arr)

[0.31268969 0.09983138 0.23047662 0.35011061 0.9205446  0.24491118
 0.82193027 0.1863627  0.85567555 0.60973509 0.69718664 0.23016665
 0.00938925 0.51923581 0.19505072 0.36525353 0.02276319 0.95158712
 0.75210937 0.67257447 0.98198787 0.63254743 0.31397924 0.54655729
 0.77473329 0.56902329 0.21096812 0.0927309  0.13435138 0.1873599
 0.15294855 0.69879004 0.08162672 0.66040646 0.52803276 0.14065461
 0.98919416 0.32663392 0.64402279 0.49304425 0.47050296 0.90438331
 0.51202462 0.08721099 0.10144859 0.4999187  0.71407346 0.52023819
 0.68159493 0.00167986 0.61522676 0.39316864 0.87087964 0.74648149
 0.34575077 0.49546556 0.51530487 0.55664775 0.82400797 0.60215534
 0.63771986 0.5791941  0.76194614 0.73620996 0.55683614 0.53258806
 0.23636871 0.71146078 0.57276678 0.50381997 0.22851086 0.79319524
 0.02915071 0.87052176 0.90142085 0.53659971 0.2695379  0.0362398
 0.16778157 0.70319775 0.25978412 0.83033741 0.85151283 0.89670385
 0.74785855 0.26380527 0.22839376 0.39606036 0.99806896 0.0527444
 0.55555171 0.91262194 0.13564894 0.57854058 0.88500328 0.27231875
 0.00377724 0.37305153 0.00108206 0.93821054]
[0.3126897 0.0998314 0.2304766 0.3501106 0.9205446 0.2449112 0.8219303
 0.1863627 0.8556756 0.6097351 0.6971866 0.2301666 0.0093893 0.5192358
 0.1950507 0.3652535 0.0227632 0.9515871 0.7521094 0.6725745 0.9819879
 0.6325474 0.3139792 0.5465573 0.7747333 0.5690233 0.2109681 0.0927309
 0.1343514 0.1873599 0.1529486 0.6987900 0.0816267 0.6604065 0.5280328
 0.1406546 0.9891942 0.3266339 0.6440228 0.4930443 0.4705030 0.9043833
 0.5120246 0.0872110 0.1014486 0.4999187 0.7140735 0.5202382 0.6815949
 0.0016799 0.6152268 0.3931686 0.8708796 0.7464815 0.3457508 0.4954656
 0.5153049 0.5566477 0.8240080 0.6021553 0.6377199 0.5791941 0.7619461
 0.7362100 0.5568361 0.5325881 0.2363687 0.7114608 0.5727668 0.5038200
 0.2285109 0.7931952 0.0291507 0.8705218 0.9014209 0.5365997 0.2695379
 0.0362398 0.1677816 0.7031977 0.2597841 0.8303374 0.8515128 0.8967039
 0.7478586 0.2638053 0.2283938 0.3960604 0.9980690 0.0527444 0.5555517
 0.9126219 0.1356489 0.5785406 0.8850033 0.2723187 0.0037772 0.3730515
 0.0010821 0.9382105]